.chat-message-container {
  width:95%;
  padding:.8em;
  min-height:5em;
}

.chat-message-container:hover {
  background-color:#EEEEEE;
}


.message-container {
  display:flex;
  flex-direction:row;
}


.chat-message-avatar {
  padding:.5em;
}
.avatar {
  background-color:black;
  width:3em;
  height:3em;
  border-radius:5em;
}


.chat-message-body-container {
  display:flex;
  flex-direction:column;
  width:100%;
  margin-left:1em;
}

.chat-jumbo-container {
  height:85vh;
  overflow-y:scroll;
}

.navbar {
  margin-bottom:0;
}

.chat-message-message {
  word-wrap: break-word;
  max-width:95%;
}